<?xml version="1.0"?>
<model>
  <name>vex_field</name>
  <version>2.0</version>
  <sdf version="1.7">vex_field.sdf</sdf>
  <author>
    <name>Kylie Herbstzuber</name>
    <email>kmherbstzuber@wpi.edu</email>
  </author>
  <description>
    Base VEX field for ROS 2 Jazzy simulation. Includes GPS Strip.
  </description>
  <ros>
    <version>jazzy</version>
  </ros>
</model>