<?xml version="1.0"?>
<model>
  <name>blue_goal</name>
  <version>2.0</version>
  <sdf version="1.7">blue_goal.sdf</sdf>
  <author>
    <name>Kylie Herbstzuber</name>
    <email>kmherbstzuber@wpi.edu</email>
  </author>
  <description>
    Blue goal from VEX V5RC Override.
  </description>
  <ros>
    <version>jazzy</version>
  </ros>
</model>